html,
body {
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Slide right

$slide-right-opacity-on: 0.9;
$slide-right-opacity-off: 0;
$slide-right-right-on: 1rem;
$slide-right-right-off: 0;

.slide-right {
  opacity: $slide-right-opacity-on;
  right: $slide-right-right-on;

  &.slide-right-enter {
    animation: slide-right-enter ease-out 0.25s;
  }

  &.slide-right-leave {
    animation: slide-right-leave ease-in 0.25s;
  }
}

@keyframes slide-right-enter {
  from {
    opacity: $slide-right-opacity-off;
    right: $slide-right-right-off;
  }
  to {
    opacity: $slide-right-opacity-on;
    right: $slide-right-right-on;
  }
}

@keyframes slide-right-leave {
  from {
    opacity: $slide-right-opacity-on;
    right: $slide-right-right-on;
  }
  to {
    opacity: $slide-right-opacity-off;
    right: $slide-right-right-off;
  }
}

// Slide top

$slide-top-opacity-on: 1;
$slide-top-opacity-off: 0;
$slide-top-top-on: 3rem;
$slide-top-top-off: 0;

.slide-top {
  opacity: $slide-top-opacity-on;
  margin-top: $slide-top-top-on;

  &.slide-top-enter {
    animation: slide-top-enter ease-out 0.25s;
  }

  &.slide-top-leave {
    animation: slide-top-leave ease-in 0.25s;
  }
}

@keyframes slide-top-enter {
  from {
    opacity: $slide-top-opacity-off;
    margin-top: $slide-top-top-off;
  }
  to {
    opacity: $slide-top-opacity-on;
    margin-top: $slide-top-top-on;
  }
}

@keyframes slide-top-leave {
  from {
    opacity: $slide-top-opacity-on;
    margin-top: $slide-top-top-on;
  }
  to {
    opacity: $slide-top-opacity-off;
    margin-top: $slide-top-top-off;
  }
}
.Root {
  display: flex;
  flex-direction: column;
  height: 100%;

  .main {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .notification {
    position: absolute;
    top: 3rem;
    opacity: 0.9;
    z-index: 9999;
  }
}

.input-wrapper {
  display: flex;
  align-items: center;

  input {
    flex: 1 1 auto;
    background: inherit;
    color: inherit;
    border: none;
    outline: none;
  }
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
}

.preview {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;

  .image-preview {
    overflow-y: auto;

    img {
      height: initial;
    }

    canvas {
      width: 100%;
    }
  }

  .preview-top {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .preview-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .preview-left {
    position: absolute;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.image-wrapper {
  outline: none;
  border: 3px solid transparent;

  &:not(.empty) {
    cursor: pointer;

    &.selected,
    &:hover {
      border-color: #ff0080;
      border-radius: 3px;
    }
  }
}

.default-message {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .message {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
  }
}

.page-link[disabled] {
  opacity: 0.4;
}
